
.input-border{
  border: 1px solid rgba(17, 17, 17, 0.15);

}
.calculation-digit-color{
  color: rgba(17, 17, 17, 0.50);
}
/* using css for dynamic part */
#dynamic-cart-name-container {
    list-style: none; 
    padding: 0; 
}

#dynamic-cart-name-container li {
    margin-bottom: 5px; 
}
